h1{

color: white;

}

h13{
color: black;
font-family: lucinda;
font-style: italic;
font-size: 18px;
}

h20{

color: black;
font-family: arial;
font-size: 25px;}

h44{

color: white;
font-family: calibri;
font-size: 20px;}

h46{
color: black;
font-family: lucinda;
font-style: italic;
font-size: 18px;
}

p{

color: white;
font-family: lucinda;
font-size: 25px;
text-align: center;}

label{

color:green;
font-family: times new roman;
font-size: 20px; }

hr.double {
 border-top: 3px double;
 border-bottom: none;
}

title2{
color: pink;
font-family: lucinda;
font-size: 25px;
}

h20{
color: pink;
font-family: lucinda;
font-size: 25px;
}

h100{
color: orange;
font-family: arial;
font-size: 20px;
font-style: italic;
}

h101{
color: white;
font-family: times;
font-size: 22px;
}

h21{

color: black;
font-family: arial;
font-size: 25px;}

h22{

color: yellow;
font-family: calibri;
text-align: center;
font-size: 38px;
}

h55{

color: white;
font-family: arial;
font-size: 20px;}

h23{

color: black;
font-family: times;
font-size: 20px;
text-decoration: underline;

}

h25{

color: yellow;
font-family: arial;
font-size: 25px;}

.alert {
   width:20%;
}

[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: -26px;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
}

[data-title]:hover::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 8px;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;
  border-bottom: 8px solid #000;
}

body {
  font-family: sans-serif;
  margin: 30px;
}
/*You can use [title] selector as well*/
[data-title] {
  font-size: 30px; /*optional styling*/

  position: relative;
  cursor: help;
}

input {
  width: 100%;
}

#student_register_info{
color: pink;
font-family: arial;
font-size: 30px;
}

h23{
color: orange;
font-family: lucinda;
font-style: italic;
font-size: 18px;
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

#confirmation-box{

background-color: red;
color: white;
border-radius: 5px;
padding: 15px 25px;

}


body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}

#Delete_Teacher_Account {
  background-color: red;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

#Delete_Teacher_Account_Container {
  background-color: red;
  padding: 12px;
}

#login_link{

    font-size: 20px;
    color: white;
    text-decoration: none;

}
