<center>
<h1>Please check your email for an authentication code to reset password.</h1>
</center>

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/aut_new_pass_2.css') }}">

{% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div id="confirmation-box" class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" onclick="document.getElementById('confirmation-box').style.display = 'none'" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

<head>
	<Title>Set new password</Title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon"/>
</head>

<div class="login">
  <div class="login-triangle"></div>
  <h2 class="login-header">Reset password</h2>
  <form class="login-container" action="{{ url_for('confirm_forgot_password') }}" method="POST">
    <p><input type="email" name="username_new_password" placeholder="Email"></p>
            <p><input type="text" name="authentication_code_new_password" placeholder="Authentication Code"></p>
    <p><input type="password" name="new_password" placeholder="New Password"></p>
    <p><input type="submit" value="Reset"></p>
      <center>
					<h3>Password must:</h3><br>
					<ul>
						<br>
						<li>Be at least 8 characters</li>
						<li>Contain one number</li>
						<li>Contain one lower-case letter</li>
						<li>Contain one upper-case letter</li>
					</ul>
						</center>
  </form>
</div>

<center>
<a id = "login_link" href = "{{ url_for('login_page') }}">Return to login page</a>
</center>

</html>
