<head>
    <title>Confirm flight - Colombia</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon"/>
</head>

<style>
    body {
	  background-image:url("https://www.telegraph.co.uk/content/dam/Travel/2018/January/medellin-cityscape-AP.jpg")
}

.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
  background-color: white;
}

</style>

<center>
<div class="wrapper">

<h1>Are you sure you would like to confirm your flight to Colombia for these dates?:</h1>
<h1>Departing at {{ departure_date }} at {{ departure_times }}.</h1>

<h1>Returning at {{ return_date }} at {{ return_times }}.</h1>

<h1>Price = $350.00</h1>

<form class="form-signin" action="{{ url_for('flight_colombia.confirm_dates_for_colombia_trip') }}" method="POST">

<button class="btn btn-lg btn-primary btn-block" type="submit">Confirm flight purchase</button>
    </form>
</div>
</center>
