<head>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon"/>
<title>Delete Account</title>
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='css/delete_account.css') }}">

<center>
<body>
<div class="wrapper">
    <form class="form-signin" action="{{ url_for('delete_account_submit') }}" method="POST">
      <h2 class="form-signin-heading">Delete my account</h2>
      <input type="text" class="form-control" name="username_delete" placeholder="Email Address/Username" required="" autofocus="" />
      <button id = "delete_button" class="btn btn-lg btn-primary btn-block" type="submit">Delete</button>
    </form>
  </div>
</body>
    </center>

<center>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul id = "flash" class=flashes>
    {% for message in messages %}
        <li>{{ message | safe }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</center>

<center>

 <form class="" action="{{ url_for('level_selector') }}" method="GET">
        <input id = "level_selector" type="submit" value="Level selector" class="btn blue">
 </form>
</center>
