<head>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon"/>
    <title>Confirm flight - Puerto Rico</title>
</head>

<style>
    body {
	  background-image:url("https://imgs.search.brave.com/7zzcxKSXfXqZ4tyFCN8CTEE5HLF4uaFy18Z-6Oi8vS0/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9scC1j/bXMtcHJvZHVjdGlv/bi5pbWdpeC5uZXQv/MjAxOS0wNi9HZXR0/eUltYWdlcy01MDY1/MTYzMDlfaGlnaC5q/cGc_Zml0PWNyb3Am/cT00MCZzaGFycD0x/MCZ2aWI9MjAmYXV0/bz1mb3JtYXQmaXhs/aWI9cmVhY3QtOC42/LjQ")
}

.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
  background-color: white;
}

</style>

<center>
<div class="wrapper">

<h1>Are you sure you would like to confirm your flight to Puerto Rico for these dates?:</h1>
<h1>Departing at {{ departure_date }} at {{ departure_times }}.</h1>

<h1>Returning at {{ return_date }} at {{ return_times }}.</h1>

<h1>Price = $130.00</h1>

<form class="form-signin" action="{{ url_for('flights.confirm_dates_for_puerto_rico_trip') }}" method="POST">

<button class="btn btn-lg btn-primary btn-block" type="submit">Confirm flight purchase</button>
    </form>
</div>
</center>
