<!DOCTYPE html>
<html>

<div id='mainBG'>

	<head>
		<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
		<Title>Practice Spanish, Buy Flights!</Title>
	</head>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/sign_up.css') }}">

	<meta name="viewport" content="width=device-width">

	<center>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<div id="confirmation-box" class="alert alert-warning alert-dismissible fade show" role="alert">
			{{ message }}
			<button type="button" onclick="document.getElementById('confirmation-box').style.display = 'none'"
				class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
		</div>
		{% endfor %}
		{% endif %}
		{% endwith %}
	</center>

	<body>

		<div class="login-wrap">
			<center>
				<h6>¡Practice Spanish, Buy Flights!</h6>
			</center>
			<div class="login-html" id="login-html">
				<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign
					In</label>
				<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
				<div class="login-form">
					<form class="login-container" action="{{ url_for('login') }}" method="POST">
						<div class="sign-in-htm">
							<div class="group">
								<label for="user" id="email_label" class="label">Email</label>
								<input id="user" type="text" name="username" class="input" required="">
							</div>
							<div class="group">
								<label for="pass" id="password_label" class="label">Password</label>
								<input id="pass" type="password" class="input" name="password" data-type="password"
									required="">
							</div>
							<div class="group">
								<input type="submit" id="submit_button" class="button" value="Sign In">
					</form>
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="{{ url_for('forgot_password_page') }}" id="forgot_password">Forgot Password?</a>
				</div>
				<br>
				<br>
				<div class="foot-lnk">
				</div>
			</div>
			<div class="sign-up-htm">
				<div class="group">
					<form class="login-container" action="{{ url_for('sign_up_submit') }}" method="POST">
						<label for="username" id="email_label" class="label">Email</label>
						<input id="email_sign_up" type="text" name="email_sign_up" class="input" required="">
				</div>
				<div class="group">
					<label for="password" id="password_label" class="label">Password</label>
					<input id="password_sign_up" type="password" class="input" name="password_sign_up"
						data-type="password" required="">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign Up">
					</form>
				</div>
			</div>
		</div>
</div>

</body>

</html>