/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* set global font to Open Sans */
body {
  font-family: 'Open Sans', 'sans-serif';
  background-image: url(http://benague.ca/files/pw_pattern.png);
}

/* header */
h1 {
  color: #55acee;
  list-style: none;
  margin-right: 50.5rem;
  font-size: 22px;
}

@media screen and (max-width: 600px) {

h1{
color: #55acee;
list-style: none;
margin-right: 50.5rem;
font-size: 22px;
}

}

h2 {
  color: blue;
  list-style: none;
  margin-right: 50.5rem;
  font-size: 16px;
}

h3 {
  color: black;
  font-size: 30px;
  text-align: center;
  font-style: italic;
}

h4 {
  color: red;
  font-size: 20px;
  text-align: center;
  font-style: italic;
}

#divider {
  height: 2px;
  width: 80%;
  background: blue;
  background: linear-gradient(90deg, hsl(0, 0%, 20%), hsl(0, 0%, 70%), hsl(0, 0%, 20%));
}

/* header/copyright link */
.link {
  text-decoration: none;
  color: #55acee;
  border-bottom: 2px dotted #55acee;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
}

.link:hover {
  color: #2ecc71;
  border-bottom: 2px dotted #2ecc71;
}

/* button div */
#buttons {
  padding-top: 50px;
  text-align: center;
}

/* start da css for da buttons */
.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
  background-color: #6FC6FF;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
  background-color: #FF6656;
}

.purple {
  background-color: #9b59b6;
  box-shadow: 0px 5px 0px 0px #82409D;
}

.purple:hover {
  background-color: #B573D0;
}

.orange {
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange:hover {
  background-color: #FF983C;
}

.yellow {
  background-color: #f1c40f;
  box-shadow: 0px 5px 0px 0px #D8AB00;
}

.yellow:hover {
  background-color: #FFDE29;
}

/* copyright stuffs.. */
p {
  text-align: center;
  color: #55acee;
  padding-top: 20px;
}

#logout{

color: white;
font-size: 25px;
background-color: black;
}

#delete_account{

color: white;
font-size: 25px;
background-color: black;
}

@mixin btnColor($color) {
  background: $color;
  border: 2px solid $color;
  &:hover {
    box-shadow: 5px 5px 0 $color;
    background: transparent;
  }
}

// GENERAL STYLES
:root {
  --primary: dodgerblue;
  --secondary: magenta;
  --tertiary: orange;
  --text-col: #fff;
  --bg-col: #111;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  color: var(--text-col);
  background: var(--bg-col);
}

// BUTTONS
.btn-group {
  text-align: center;
  .btn:not(:last-child) {
    margin: 1rem 0.5rem;
  }
}

#dictionary_button {
  apparence: none;
  display: inline-block;
  padding: 0.75rem 2rem;
  text-decoration: none;
  color: inherit;
  outline: none;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
  &.primary {
    @include btnColor(var(--primary));
  }
}
